
<div style="border: 1px solid groove; text-align: center;">
    <h2>CẢM ƠN QUÝ KHÁCH</h2>
</div>
<p>
    <i>
        Cảm ơn quý khách đã tin tưởng và đặt hàng tại hệ thống của Flowestore, đơn hàng đang được đóng gói và quý khách sẽ sớm nhận được sản phẩm. Chân thành cảm ơn
        quý khách. <br /> Kính chúc quý khách một ngày tốt lành. Hẹn gặp lại !!!
    </i>
</p>

@{
    ViewBag.Title = "Chi tiết liên hệ";
}
<h2>@ViewBag.Title</h2>

<address>
    371 Nguyễn kiệm, P3, Quận Gò Vấp, thành phố Hồ Chí Minh<br />
    <abbr title="Phone">Điện thoại liên hệ:</abbr>
    425.555.0100
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:levominhchau.nt@gmail.com">levominhchau.nt@gmail.com</a><br />
    <strong>Tư vấn sản phẩm:</strong> <a href="mailto:minhchaulevo.nt0206@gmail.com">minhchaulevo.nt0206@gmail.com</a>
</address>